# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release binary to the GitHub Release on specific tag
on:
  workflow_dispatch:
    inputs:
      next-version:
        description: |
          Which number to increment in the semantic versioning.
        required: true
        type: string
permissions:
  contents: write
jobs:
  release-binary:
    name: Release Binary
    runs-on: ubuntu-latest
    steps:
      - name: Check Actor
        if: github.actor != 'kyoh86'
        run: exit 1
      - name: Check Branch
        if: github.ref != 'refs/heads/main'
        run: exit 1
      - name: Wait commit status
        uses: cloudposse/github-action-wait-commit-status@main
        with:
          repository: ${{ github.repository }}
          sha: ${{ github.sha }}
          status: releasable
          token: ${{ github.token }}
          check-retry-count: 20
          check-retry-interval: 20
      - name: Checkout Sources
        uses: actions/checkout@v6
      - name: Set git tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git tag -a "${{ github.event.inputs.next-version }}" -m "Release version ${{ github.event.inputs.next-version }}"
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
        with:
          version: ~> v2
          args: release --clean

