# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Test
permissions:
  contents: read
on:
  push:
    branches:
      - '*'
jobs:
  test:
    name: Test local sources
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Test Go
        run: go test --race ./...
  test-architecture:
    name: Test architectures
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Check architecture
        run: go tool arch-go
  test-release:
    name: Test releases
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Try Bump-up Semantic Version
        uses: kyoh86/git-vertag-action@v1
        with:
          method: "patch"
      - name: Run GoReleaser (dry-run)
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean --skip=publish --snapshot
  test-diagnostics:
    name: Find diagnostics
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Search diagnostics
        uses: golangci/golangci-lint-action@v9
  set-releasable-status:
    name: 'Mark commit status "releasable"'
    permissions:
      statuses: write
    runs-on: ubuntu-latest
    needs:
      - test
      - test-diagnostics
      - test-release
    steps:
      - name: 'Mark commit status "releasable"'
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            /repos/${{ github.repository }}/statuses/${{ github.sha }} \
            -f state='success' \
            -f description='Mark the commit is able to release binary' \
            -f context='releasable'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
